.content h1 {
  font-size: theme("fontSize.3xl");
  font-weight: theme("fontWeight.bold");
}

.content h2 {
  font-size: theme("fontSize.2xl");
  font-weight: theme("fontWeight.bold");
}

.content h2 {
  font-size: theme("fontSize.xl");
  font-weight: theme("fontWeight.bold");
}

.content p {
  font-size: theme("fontSize.lg");
  font-weight: theme("fontWeight.medium");
  color: theme("colors.zinc.300");
  margin-top: theme("margin.2");
  margin-bottom: theme("margin.2");
}

.content code {
  display: block;
  font-family: monospace;
  font-size: theme("fontSize.sm");
  font-weight: theme("fontWeight.medium");
  color: theme("colors.zinc.300");
  background-color: theme("colors.zinc.800");
  padding: theme("padding.2");
  border-radius: theme("borderRadius.md");
  width: 100%;
}

.content img {
  border-radius: theme("borderRadius.md");
  max-height: 300px;
}

.content p.emptyNodeClass::before {
  color: theme("colors.zinc.600");
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.content ul {
  list-style-type: disc;
  margin: theme("margin.4");
  margin-left: theme("margin.8");
}

.content ol {
  list-style-type: decimal;
  margin-left: theme("margin.8");
}

.content li {
  font-size: theme("fontSize.lg");
  font-weight: theme("fontWeight.medium");
  color: theme("colors.zinc.300");
}

.content li p {
  display: inline;
}

.content blockquote {
  border-left: 4px solid theme("colors.zinc.600");
  padding: theme("padding.2");
  font-size: theme("fontSize.lg");
  font-weight: theme("fontWeight.medium");
  color: theme("colors.zinc.300");
}